In [2]:
import pandas as pd

In [2]:
df = pd.read_excel('TEST TABLE R1.xlsx')

In [3]:
df

    list - A  List - B  List - C  RESULTADO
0          0         1     0.050      0.050
1          1         2     0.200      0.250
2          2         3     0.010      0.260
3          3         4     3.889      4.149
4          4         5     0.500      4.649
5          5         6     1.990      6.639
6          4         7     0.550      4.699
7          7         8     0.490      5.189
8          8         9     0.380      5.569
9          9        10     0.220      5.789
10         2        11     0.140      0.390
11        11        12     0.300      0.690
12        12        13     4.820      5.510
13        13        14     6.220     11.730
14        14        15     0.830     12.560
15        14        16     4.000     15.730
16        16        17     1.680     17.410
17        17        18     2.420     19.830
18        11        19     0.030      0.420
19        19        20     1.040      1.460
20        20        21     3.460      4.920
21        21        22     2.130      7.050
22        22        23     1.750      8.800
23        22        24     2.720      9.770
24        24        25     2.150     11.920
25        25        26     3.810     15.730
26        19        27     0.060      0.480
27        27        28     0.720      1.200
28        28        29     6.440      7.640
29        29        30     3.890     11.530
30        30        31     0.740     12.270
31        30        32     5.400     16.930
32        32        33     3.280     20.210
33        33        34     0.990     21.200
34        27        35     0.060      0.540
35        35        36     3.600      4.140

In [20]:
listaA = [0, 1, 2, 3, 4, 5]
listaB = [1, 2, 3, 4, 5, 6]
listaC = [0.5, 0.2, 0.01, 3.889]


listab = []
resultados = []
def somase(df):
    count = 0
    for n in df['list - A']:
        listab.append(df['List - B'][count])
        if n in listab:
            lb = df[df['List - B'] == n]['List - B'].sum()
            r = resultados[lb-1] 
            resultados.append(df['List - C'][count] + r)
        else:
            resultados.append(df['List - C'][count])
            
        count += 1
somase(df)
print(resultados)

[0.05, 0.25, 0.26, 4.149, 4.649, 6.639, 4.699, 5.189, 5.569, 5.789, 0.39, 0.69, 5.51, 11.73, 12.56, 15.73, 17.41, 19.83, 0.42000000000000004, 1.46, 4.92, 7.05, 8.8, 9.77, 11.92, 15.73, 0.48000000000000004, 1.2, 7.640000000000001, 11.530000000000001, 12.270000000000001, 16.93, 20.21, 21.2, 0.54, 4.140000000000001]

In [17]:
for num in resultados:
    print(f'{num:.2f}', end=', ')

0.05, 0.25, 0.26, 4.15, 4.65, 6.64, 4.70, 5.19, 5.57, 5.79, 0.39, 0.69, 5.51, 11.73, 12.56, 15.73, 17.41, 19.83, 0.42, 1.46, 4.92, 7.05, 8.80, 9.77, 11.92, 15.73, 0.48, 1.20, 7.64, 11.53, 12.27, 16.93, 20.21, 21.20, 0.54, 4.14,

In [18]:
df['Resultados_com_Python'] = resultados
df

    list - A  List - B  List - C  RESULTADO  Resultados_com_Python
0          0         1     0.050      0.050                  0.050
1          1         2     0.200      0.250                  0.250
2          2         3     0.010      0.260                  0.260
3          3         4     3.889      4.149                  4.149
4          4         5     0.500      4.649                  4.649
5          5         6     1.990      6.639                  6.639
6          4         7     0.550      4.699                  4.699
7          7         8     0.490      5.189                  5.189
8          8         9     0.380      5.569                  5.569
9          9        10     0.220      5.789                  5.789
10         2        11     0.140      0.390                  0.390
11        11        12     0.300      0.690                  0.690
12        12        13     4.820      5.510                  5.510
13        13        14     6.220     11.730                 11.730
14        14        15     0.830     12.560                 12.560
15        14        16     4.000     15.730                 15.730
16        16        17     1.680     17.410                 17.410
17        17        18     2.420     19.830                 19.830
18        11        19     0.030      0.420                  0.420
19        19        20     1.040      1.460                  1.460
20        20        21     3.460      4.920                  4.920
21        21        22     2.130      7.050                  7.050
22        22        23     1.750      8.800                  8.800
23        22        24     2.720      9.770                  9.770
24        24        25     2.150     11.920                 11.920
25        25        26     3.810     15.730                 15.730
26        19        27     0.060      0.480                  0.480
27        27        28     0.720      1.200                  1.200
28        28        29     6.440      7.640                  7.640
29        29        30     3.890     11.530                 11.530
30        30        31     0.740     12.270                 12.270
31        30        32     5.400     16.930                 16.930
32        32        33     3.280     20.210                 20.210
33        33        34     0.990     21.200                 21.200
34        27        35     0.060      0.540                  0.540
35        35        36     3.600      4.140                  4.140